doctype html 
html
  head
    title Prateek's dance academy
    block scripts
    block style
  body
    nav#navBar
        ul 
           div#logo
              img(src="../static/logo.jpg") 
              | PDA
           li #[a(href="/") Home] 
           li #[a(href="/") About]
           li #[a(href="/contact") Contact us]
           li #[a(href="/") Services]
    
    
    block content
    
    footer#footer 
           | Copyright © 2021 prateekDanceAcademy.com | All Rights Reserved